<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="ServiceUrl" value="https://samsapp-dev-eu-service.azurewebsites.net/" />
    <Parameter name="WebUrl" value="https://samsapp-dev-eu-web.azurewebsites.net/" />
    <Parameter name="TestEnvironment" value="Dev" />
  </TestRunParameters>

</RunSettings>