@using SamLearnsAzure.Models
@model CDNTestViewModel
@{
    ViewData["Title"] = "CDN test page";
}

<div class="BreadCrumbs">
    <br />@Html.ActionLink("Home", "Index", "Home") &gt;
</div>
<h3><b>CDN test page</b></h3>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-2 col-xs-3 samsAppPart">
                <b>Storage URL</b><br />
                <img src="@(Model.BaseSetPartsImagesStorageURL)/70/3020.png" class="img-rounded samsAppImage" /><br />
            </div>
            <div class="col-sm-2 col-xs-3 samsAppPart">
                <b>CDN URL</b><br />
                <img src="@(Model.BaseSetPartsImagesCDNURL)/70/3020.png" class="img-rounded samsAppImage" /><br />
            </div>

        </div>
    </div>
</div>