@{
    ViewData["Title"] = "Administration Page";
}

<div class="BreadCrumbs">
    <br />@Html.ActionLink("Home", "Index", "Home") &gt; <strong>Administration</strong>
</div>

<br /><br />
<p>@Html.ActionLink("Custom part images", "PartImages", "Home")</p>

